/* body background img */
.main-nav {
  background-image: url("img/banner5.avif");
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: opacity(0.9);
}

.getstarted {
  text-decoration: none;
  background-color: #f7631b !important;
}
/* link hover  */
.getstarted:hover {
  color: orange !important;
  background-color: #fff !important;
}
/* navbar */
.stick:hover {
  color: #f7631b !important;
}
.homecardmarigin {
  margin-top: 4.3rem;
}

/* font size of banner heading */
.fontsize {
  font-size: 50px !important;
  margin-top: 10px;
}

.orange2 {
  width: 100% !important;
  height: 70px !important;
  margin: 130px 0 0 0;
}
.orange2:hover {
  background-color: #f7631b !important;
}

/* cardtop margin */
.mtt {
  margin-top: 185px !important;
}

/* card img */
.myimg1 {
  background-image: url(img/p1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 195px;
  transition-duration: 0.5s;
}

.myimg1:hover {
  transform: scale(1.1);
}

.myimg2 {
  background-image: url(img/p2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 195px;
  transition-duration: 0.5s;
}

.myimg2:hover {
  transform: scale(1.1);
}

.myimg3 {
  background-image: url(img/p3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 195px;
  transition-duration: 0.5s;
}

.myimg3:hover {
  transform: scale(1.1);
}

.myimg4 {
  background-image: url(img/p4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 195px;
  transition-duration: 0.5s;
}

.myimg4:hover {
  transform: scale(1.1);
}

/* positoon of img inside text */
.famargin {
  position: absolute;
  top: 170px;
}

.famargin2 {
  position: absolute;
  top: 170px;
  left: 60px;
}

.famargin3 {
  position: absolute;
  top: 165px;
  left: 210px;
}

/* hove on join now */
.text-decoration-none:hover {
  color: orange !important;
}

.text-dark {
  color: black !important;
}

/* 2nd banner */

.backgroundimg2 {
  background-image: url("img/Newbanner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.formmrgin {
  margin: 12rem 0;
}

/* card img prporty */
.rotate {
  width: 120%;
  height: 220px;
  transition-duration: 0.5s;
}

.rotate:hover {
  transform: scale(1.1) !important;
}

/* group disscusion banner */
.groupdisscussion {
  background-image: url("img/group\ disscussion.jpg");
  height: 420px !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#instructor {
  margin-top: 8rem;
}
/* inside banner heading marigin  */
.marginheading {
  margin-top: 140px !important;
}

/* banner heading margin  */
.insidebnnerbtn {
  margin-left: 43% !important;
}

/* inside banner buttn  */
.insidebnnerbtn:hover {
  background-color: black !important;
  color: white !important;
  opacity: 0.9;
}

/* 3rd card heading */
.myhover:hover {
  color: orange;
}

.card-img-top {
  transition-duration: 0.5s;
}

.card-img-top:hover {
  transform: scale(1.1);
}
.footerlink {
  width: 13rem;
}

/* fotter heading  */
.warning {
  background-color: #f7631b !important;
}

/* footer heading button */
.value:hover {
  background-color: black !important;
  color: white !important;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main-nav {
    background-image: url("img/banner5.avif");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: opacity(0.9);
  }
  .homecardmarigin {
    margin-top: -6rem;
  }

  .orange2 {
    width: 100% !important;
    height: 60px !important;
    margin: 9rem 0 0 0;
    background-color: #f7631b !important;
  }
  .dnone {
    display: none !important;
  }

  .footerlink {
    width: 18rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .bgimg {
    background-image: url("img/banner5.avif");
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: opacity(0.9);
  }


  .fontsize {
    font-size: 35px !important;
    margin-top: 50px;
  }
  .getstarted {
    text-decoration: none;
    background-color: #f7631b !important;
  }

  .orange2 {
    width: 100% !important;
    height: 70px !important;
    margin: 180px 0 0 0 !important;
    background-color: #f7631b !important;
  }
  .insidebnnerbtn {
    margin-left: 20% !important;
  }
  .imgcardwidth {
    width: 100% !important;
    margin-top: 50px;
  }
  .homecardmarigin {
    margin-top: 2.8rem;
  }
  .ftrheading {
    padding: 15px !important;
  }
  .buton {
    padding: 5px !important;
  }
  .footerlink {
    width: 18rem !important;
    
  }
  .footerlink2 {
    margin-left: 1rem !important;
    
  }
}

/* ===============================================About=========================================================== */
.myheader {
  background-image: url("img/about.avif");
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: opacity(0.9);
}

#fontheading{
  font-size: 70px;
  margin-top: 5rem;
}
.aboutancher {
  text-decoration: none;
  color: white;
  font-size: 25px;
 text-align: center;
}

.aboutorange2 {
  width: 100% !important;
  height: 70px !important;
  margin: 130px 0 0 0;
}
.aboutorange2:hover {
  background-color: #f7631b !important;
}

.homecardmarigin2 {
  margin-top: -7.4rem;
}
.orange3:hover {
  background-color: #f7631b !important;
}

.ancher {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.imgdtailmrging{
  margin-top: 12rem;
}
.mabg {
  margin-top: 220px !important;
}

/* accordain bg color */
.orange {
  background-color: #f7631b !important;
}

.ratio {
  height: 350px !important;
}

/* ==========================================responsive======================================= */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .homecardmarigin2 {
    margin-top: -7.4rem;
  }

  .aboutorange2 {
    width: 100% !important;
    height: 70px !important;
    margin: 8rem 0 0 0;
  }
  .aboutorange2small{
    margin-top: 12rem;
  }
}

/* ================================================courses============================================= */

.main-course {
  background-image: url("img/about.avif");
  height: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: opacity(0.9);
}
.headifontsize {
  font-size: 70px;
  margin-top: 50px !important;
}
.hedmrgin {
  margin-top: 100px !important;
}
.linkhover {
  background-color: #f7631b !important;
  color: aliceblue !important;
  text-decoration: none;
}

.linkhover :hover {
  background-color: aliceblue !important;
  color: #f7631b !important;
  border: #f7631b !important;
}
/* ================================================================= */
@media screen and (min-width: 768px) and(max-width:991px) {
  .bgimg4 {
    background-image: url("img/about.avif");
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: opacity(0.9);
  }
  .headifontsize {
    font-size: 40px !important;
    margin-top: 50px !important;
  }
  .hedmrgin {
    margin-top: 10px !important;
  }
}

/* =======================================Events=======================================================  */
.bgimg5 {
  background-image: url("img/about.avif");
  height: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: opacity(0.9);
}

.ancher2 {
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin-top: 52px;
}
.cardwidth {
  width: 100% !important;
}
.linkhover2 {
  text-decoration: none;
  background-color: #f7631b;
}
.linkhover2:hover {
  color: #000 !important;
  background-color: #f7631b;
}
.mgtopeventcard {
  margin-top: 250px !important;
}

@media (min-width: 767px) {
  .bgimg5 {
    background-image: url("img/about.avif");
    height: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: opacity(0.9);
  }
  .mgtopeventcard {
    margin-top: 200px;
  }
}
@media (min-width: 425px) {
  .bgimg5 {
    background-image: url("img/about.avif");
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: opacity(0.9);
  }
}

/* =================================gallary======================================================= */
.mggalary {
  margin-top: 300px;
}

.gimg1 {
  width: 100%;
  height: 250px;
}

.gimg:hover {
  color: #f7631b !important;
}

/* ===========================================blogHome========================================= */
.bigbanner {
  background-image: url(img/beingbanner.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
}

.bgcolor {
  background-color: #f5f5fa;
}

/* fixing navbar */
.mysticky {
  position: fixed !important;
  top: 0 !important;
  /* padding-left: 100px !important; */
}

/* heading top margin */
.mtlb {
  margin-top: 300px;
  font-size: 50px;
}

/* remove anchor  */
.myanchor {
  text-decoration: none;
  background-color: #fff;
}

.myanchor:hover {
  color: #fff;
  opacity: 0.2;
  border: solid white;
}

/* top margin of img */
.imgmt {
  margin-top: 250px;
}

/* background images */
.bhomeimg {
  background-image: url(img/cat-widget1.jpg.webp);
  background-size: cover;
  background-position: center;
  height: 220px;
}

.bhomeimg2 {
  background-image: url(img/cat-widget2.jpg.webp);
  background-size: cover;
  background-position: center;
  height: 220px;
}

.bhomeimg3 {
  background-image: url(img/cat-widget3.jpg.webp);
  background-size: cover;
  background-position: center;
  height: 220px;
}

.overlay-lg {
  position: relative;
  top: 25px;
  left: 28px;
  width: 85%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.overlay-lg:hover {
  background-color: #eb8a0c80;
}

/* overlay image position */
.imghead {
  margin-left: 32%;
  text-decoration: none;
  font-size: 20px;
  margin-top: 12%;
  display: inline-block;
}

.imghead2 {
  margin-left: 18%;
  text-decoration: none;
}

/* width and height of main image */
.feture1 {
  width: 600px;
  height: 300px;
}

.feture2 {
  width: 600px !important;
  height: 300px;
}

.imgbtn:hover {
  background-color: #f7631b !important;
  color: #fff !important;
}

/* rounding bar */
.rounded {
  margin: auto;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}

.rounded2 {
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.ms-lg-6 {
  margin-left: 55px !important;
}

.mla {
  margin-left: 65px !important;
}

.mla2 {
  margin-left: 50px !important;
}

.img2small {
  display: inline !important;
}

/* imgae width and height */
.dspace {
  width: 250px;
  height: 200px;
  background-color: #fff;
  margin: auto;
}

/* imgae width and height */

.prop {
  display: block;
  text-decoration: none;
  font-size: 25px;
  margin-left: 4%;
  color: #d2d2d2;
  padding-top: 25%;
}

/* setting margin of dooted point */
.row1 {
  display: block;
  font-size: 24px;
  border-bottom: dotted;
  border-color: #d2d2d2;
  margin-top: 15px;
  color: #776549;
}

.row1:hover {
  border-bottom: dotted;
  color: #f7631b;
}

.bg-warning {
  background-color: #f7631b !important;
}

/* ================================blog home=========================================================== */
.bigbanner2 {
  background-image: url(img/beingbanner.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 5px;
}

.mg1 {
  margin-top: 150px;
  font-size: 65px;
}

.mg2 {
  margin-top: 300px !important;
}

.details {
  width: 90px;
  height: 90px;
}

.bgbody {
  background-color: #f5f5fa;
}

.mar {
  margin-left: 40%;
  margin-top: 15%;
  font-size: 20px;
}

.mar:hover {
  background-color: #f7631b !important;
  color: #fff !important;
}

.mbt {
  margin-left: 5%;
}

.mbt:hover {
  background-color: #fff !important;
  border: 1px solid #f7631b !important;
}

/* ====================================Courses details================================= */
.head {
  margin-top: 200px !important;
  font-size: 75px;
}

.imgmr {
  margin-top: 180px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  height: 350px;
}

.enrol {
  text-decoration: none;
  background-color: black;
  color: #fff;
  margin-left: 20%;
  margin-top: 10%;
}

/* ============================================Event Detalis============================================= */
/* banner heading margin */
.mgr2 {
  margin-left: 36%;
}

.eventimg {
  margin-top: 250px;
}

.underimge {
  text-decoration: none;
  color: #04091e;
}

.imgdetalis {
  width: 750px;
  height: 350px;
}

/* imgae brands */
.brandsimg {
  font-size: 26px;
  padding: 2px 14px;
  background-color: blue;
  color: #fff;
}

.brandsimg1 {
  font-size: 26px;
  background-color: #00c7f8;
  padding: 2px 10px;
  color: #fff;
}

.brandsimg2 {
  font-size: 26px;
  background-color: #f982aa;
  padding: 2px 10px;
  color: #fff;
}

.brandsimg3 {
  font-size: 26px;
  background-color: #0b8eff;
  padding: 2px 10px;
  color: #fff;
}

/* prew and next btn */
.prewbtn {
  text-decoration: none;
  margin-top: 10px;
  background-color: #f9f9ff;
}

.prewbtn:hover {
  background-color: #f7631b;
  color: #fff !important;
}

/* table height */
.tbh {
  height: 45px !important;
  font-size: 24px;
}

/* ===========================================elements==================================== */
.hmr {
  margin-top: 200px;
}

.heightimg {
  height: 250px;
  width: 100%;
}

.form-check-reverse {
  font-size: 25px;
}

.checkbox {
  font-size: 25px;
}

/* ===================================Contact================================================= */
.maptop {
  margin-top: 200px;
}

.fasm {
  font-size: 25px !important;
}

.fasm2 {
  font-size: 18px;
}

.sendbtn {
  text-decoration: none;
  background-color: #f7631b;
  margin-left: 80%;
}

.sendbtn:hover {
  background-color: #fff;
  border: 1px solid #f7631b !important;
  color: #f7631b !important;
}
